@import "tailwindcss";

@theme {
  /* Colors - Neutral */
  --color-ts-neutral-900: hsl(0, 0%, 7%);
  --color-ts-neutral-800: hsl(0, 0%, 15%);
  --color-ts-neutral-700: hsl(0, 0%, 25%);
  --color-ts-neutral-500: hsl(240, 3%, 46%);
  --color-ts-neutral-400: hsl(240, 1%, 59%);
  --color-ts-neutral-0: hsl(0, 0%, 100%);

  /* Colors - Blue */
  --color-ts-blue-600: hsl(214, 100%, 55%);
  --color-ts-blue-400: hsl(210, 100%, 65%);

  /* Colors - Red */
  --color-ts-red-500: hsl(354, 63%, 57%);

  /* Colors - Green */
  --color-ts-green-500: hsl(140, 63%, 57%);

  /* Colors - Yellow */
  --color-ts-yellow-400: hsl(49, 85%, 70%);

  /* Fonts */
  --font-ts-sora: var(--font-ts-sora);

  /* Screen Sizes */
  --breakpoint-ts-mobile: 375px;
  --breakpoint-ts-tablet: 768px;
  --breakpoint-ts-desktop: 1440px;
}

body {
  font-family: "Sora", sans-serif;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: 0;
}